@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #0b0f14;
}
